.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center */
  align-items: center;     /* Horizontally center */
  text-align: center;
  padding: 50px;
  height: 100vh; /* Ensure the section takes full viewport height */
  margin-left: 100px; /* Keep this if you still need to account for sidebar */
  padding-bottom: 0px;
  padding-top: 0px;
  }
  .avatar img {
    width: 180px;
    border-radius: 50%;
    margin-left: -20px;
  }
  /* styles/MainSection.css */

.social-links a {
  margin-right: 15px;
  color: #333; /* Default color for the icons */
  transition: color 0.3s ease;
}

/* .social-links a:hover {
  color: #0077b5;
} */

h1 {
  font-size: 2rem; /* Decreased font size */
  margin-top: 10px;
  font-weight: bold; /* Added bold font weight */
  margin-bottom: 0px;
}


.social-links .linkedin {
  color: #0077b5; /* Set LinkedIn icon to blue by default */
}

.social-links .linkedin:hover {
  color: #005582; /* Darker blue on hover (LinkedIn hover color) */
}

  .resume {
    background-color: #ff6464;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .shapes {
    z-index: -1;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
}

.shape{
   position: absolute; 
}

.s1 {
  left: 2%;
  top: 10%;  
}

.s2 {
    left: 18%;
    top: 30%;  
  }

  .s3 {
    left: 5%;
    bottom: 30%;
  }

  .s4 {
    left: 2%;
    bottom: 10%;
  }

  .s5 {
    left: 44%;
    top: 10%;
  }

  .s6 {
    left: 36%;
    bottom: 10%;
  }

  .s7 {
   top: 20%;
   right: 25%;
  }

  .s8{
    right: 24%;
    bottom: 20%;

  }

  .s9{
    right: 2%;
    top: 10%;
  }

  .s10{
    top: 45%;
    right: 11%;
  }

  .s11{
    bottom: 10%;
    right: 2%;
  }
